.home-child {
  position: absolute;
  top: 2234px;
  left: 0;
  background-color: var(--color-white);
  width: 1728px;
  height: 1117px;
}
.screenshot-2023-02-26-160756-r-icon {
  position: absolute;
  top: 206px;
  left: 1125px;
  width: 603px;
  height: 754.52px;
  object-fit: cover;
}
.screenshot-2023-02-26-155740-r-icon {
  position: absolute;
  top: 131px;
  left: 0;
  width: 963.19px;
  height: 1174.21px;
  object-fit: cover;
}
.screenshot-2023-02-26-155740-r {
  position: absolute;
  top: 507.37px;
  left: 1157px;
  width: 600px;
  height: 1118.03px;
  transform: rotate(-48.07deg);
  transform-origin: 0 0;
}
.play-your-way,
.text,
.what-we-offer {
  position: absolute;
  font-family: var(--font-ubuntu);
}
.text {
  top: 322px;
  left: 878px;
  font-size: 150px;
  text-shadow: 15px 15px 0 rgba(0, 0, 0, 0.25);
}
.play-your-way,
.what-we-offer {
  top: 1286px;
  left: 557px;
  font-size: var(--font-size-56xl);
}
.play-your-way {
  top: 1224px;
  left: 736px;
  font-size: var(--font-size-17xl);
  font-style: italic;
  font-weight: 900;
  font-family: var(--font-nunito);
  color: var(--color-greenyellow);
  text-decoration: none;
}
.upcoming-events {
  position: absolute;
  top: 2321px;
  left: 505px;
  font-size: var(--font-size-56xl);
  font-family: var(--font-ubuntu);
  color: var(--color-black);
}
.central-pas-first,
.john-drive-mars,
.walk-in {
  position: absolute;
  top: 541px;
  left: 903px;
  font-size: var(--font-size-17xl);
}
.john-drive-mars,
.walk-in {
  top: 614px;
}
.walk-in {
  top: 1484px;
  left: 326px;
  font-family: var(--font-cabin);
}
.you-can-also {
  margin: 0;
}
.check-out-our,
.want-a-challenge,
.we-have-8-container,
.we-host-classes {
  position: absolute;
  top: 1540px;
  left: 326px;
  font-size: var(--font-size-5xl);
}
.check-out-our,
.want-a-challenge,
.we-host-classes {
  top: 1791px;
  display: inline-block;
  width: 403px;
}
.want-a-challenge,
.we-host-classes {
  left: 1182px;
}
.we-host-classes {
  top: 1540px;
  left: 1181px;
}
.classes-lessons,
.competitive-tournaments,
.delicous-food-bar {
  position: absolute;
  top: 1477px;
  left: 1181px;
  font-size: var(--font-size-17xl);
  font-family: var(--font-cabin);
}
.competitive-tournaments,
.delicous-food-bar {
  top: 1728px;
}
.delicous-food-bar {
  top: 1735px;
  left: 326px;
}
.removebg-preview-2-icon {
  position: absolute;
  top: 585px;
  left: 462px;
  width: 335px;
  height: 335px;
  object-fit: cover;
}
.home-item,
.vector-icon {
  position: absolute;
  top: 155px;
  left: 708px;
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.vector-icon {
  height: 2.24%;
  width: 6.43%;
  top: 28.74%;
  right: 85.29%;
  bottom: 69.03%;
  left: 8.28%;
  max-width: 100%;
  max-height: 100%;
}
.home-inner {
  position: absolute;
  top: 1997px;
  left: 689px;
  border-radius: var(--br-31xl);
  background-color: var(--color-red-100);
  width: 350px;
  height: 100px;
  cursor: pointer;
}
.our-pricing {
  position: absolute;
  top: 2025px;
  left: 756px;
  font-size: var(--font-size-17xl);
  font-family: var(--font-montserrat);
}
.rectangle-div {
  position: absolute;
  top: 3187px;
  left: 664px;
  border-radius: var(--br-31xl);
  background-color: var(--color-red-100);
  width: 400px;
  height: 100px;
  cursor: pointer;
}
.view-all-events {
  position: absolute;
  top: 3215px;
  left: 718px;
  font-size: var(--font-size-17xl);
  font-family: var(--font-montserrat);
}
.component-1-child {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-gainsboro-100);
  position: absolute;
  height: 34.78%;
  width: 12.5%;
  top: 65.22%;
  right: 60.79%;
  bottom: 0;
  left: 26.71%;
  border-radius: var(--br-31xl);
}
.v2-tournament {
  position: absolute;
  top: 39.01%;
  left: 0;
  font-size: var(--font-size-11xl);
  color: var(--color-red-100);
}
.a-quick-description {
  position: absolute;
  top: 76.52%;
  left: 0;
  font-weight: 500;
}
.hosted-by-company-container {
  position: absolute;
  top: 15.54%;
  left: 0;
  font-size: var(--font-size-lg);
}
.april-15-2023 {
  top: 15.65%;
  left: 15.29%;
  font-size: var(--font-size-lg);
}
.am,
.april-15-2023,
.tournament {
  position: absolute;
}
.am {
  top: 15.65%;
  left: 24.57%;
  font-size: var(--font-size-lg);
}
.tournament {
  top: 70.43%;
  left: 28.86%;
  font-weight: 500;
}
.component-1-item {
  position: absolute;
  height: 34.78%;
  width: 5.36%;
  top: 65.22%;
  right: 53.14%;
  bottom: 0;
  left: 41.5%;
  border-radius: var(--br-31xl);
  background-color: var(--color-gainsboro-100);
}
.registered,
.v2 {
  position: absolute;
  top: 70.43%;
  left: 43.07%;
  font-weight: 500;
}
.registered {
  left: 63.93%;
}
.component-1-inner {
  position: absolute;
  height: 4.28%;
  width: 100%;
  top: -0.87%;
  right: 0;
  bottom: 96.59%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-gainsboro-100);
  position: absolute;
  height: 34.78%;
  width: 12.5%;
  top: 65.22%;
  right: 38.36%;
  bottom: 0;
  left: 49.14%;
  border-radius: var(--br-31xl);
}
.skill-beginner {
  position: absolute;
  top: 70.43%;
  left: 50.64%;
  font-weight: 500;
}
.component-1,
.component-2,
.component-3,
.component-4 {
  position: absolute;
  top: 2470px;
  left: 164px;
  width: 1399.99px;
  height: 115px;
  color: var(--color-black);
}
.component-2,
.component-3,
.component-4 {
  top: 2626px;
}
.component-3,
.component-4 {
  top: 2782px;
}
.component-4 {
  top: 2938px;
}
.component-5-child {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-gainsboro-100);
  position: absolute;
  height: 34.78%;
  width: 12.5%;
  top: 65.22%;
  right: 60.79%;
  bottom: 0;
  left: 26.71%;
  border-radius: var(--br-31xl);
  display: none;
}
.v2-tournament4 {
  position: absolute;
  top: 39.01%;
  left: 0;
  font-size: var(--font-size-11xl);
  display: none;
  color: var(--color-red-100);
}
.a-quick-description4 {
  position: absolute;
  top: 76.52%;
  left: 0;
  font-weight: 500;
  display: none;
}
.hosted-by-company-container4 {
  position: absolute;
  top: 15.54%;
  left: 0;
  font-size: var(--font-size-lg);
  display: none;
}
.april-15-20234 {
  top: 15.65%;
  left: 15.29%;
  font-size: var(--font-size-lg);
}
.am4,
.april-15-20234,
.tournament4 {
  position: absolute;
  display: none;
}
.am4 {
  top: 15.65%;
  left: 24.57%;
  font-size: var(--font-size-lg);
}
.tournament4 {
  top: 70.43%;
  left: 28.86%;
  font-weight: 500;
}
.component-5-item {
  position: absolute;
  height: 34.78%;
  width: 5.36%;
  top: 65.22%;
  right: 53.14%;
  bottom: 0;
  left: 41.5%;
  border-radius: var(--br-31xl);
  background-color: var(--color-gainsboro-100);
  display: none;
}
.registered4,
.v24 {
  position: absolute;
  top: 70.43%;
  left: 43.07%;
  font-weight: 500;
  display: none;
}
.registered4 {
  left: 63.93%;
}
.component-5-child1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-gainsboro-100);
  position: absolute;
  height: 34.78%;
  width: 12.5%;
  top: 65.22%;
  right: 38.36%;
  bottom: 0;
  left: 49.14%;
  border-radius: var(--br-31xl);
  display: none;
}
.skill-beginner4 {
  position: absolute;
  top: 70.43%;
  left: 50.64%;
  font-weight: 500;
  display: none;
}
.component-5 {
  position: absolute;
  top: 3072px;
  left: 164px;
  width: 1399.99px;
  height: 115px;
  color: var(--color-black);
}
.icon,
.icon1,
.icon2 {
  position: absolute;
  top: 1448px;
  left: 919px;
  width: 175px;
  height: 175px;
  object-fit: cover;
}
.icon1,
.icon2 {
  top: 1743px;
  left: 143px;
  width: 110px;
  height: 110px;
}
.icon2 {
  top: 1735px;
  left: 944px;
  width: 125px;
  height: 125px;
}
.memberships {
  position: absolute;
  top: 3404px;
  left: 593px;
  font-size: var(--font-size-56xl);
  font-family: var(--font-ubuntu);
}
.footer-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gray-400);
}
.contact-us,
.explore {
  position: absolute;
  font-size: var(--font-size-17xl);
  font-weight: 800;
  color: var(--color-greenyellow);
}
.contact-us {
  top: 40.86%;
  left: 69.44%;
  text-align: left;
}
.explore {
  top: 41.29%;
  left: 46.12%;
}
.email-hellotextcom,
.phone-123-456-7890 {
  position: absolute;
  height: 5.86%;
  width: 17.94%;
  top: 50.29%;
  left: 69.44%;
  font-weight: 600;
  text-align: left;
  display: inline-block;
}
.phone-123-456-7890 {
  top: 56.14%;
}
.designed-by-pranav,
.events,
.faqs,
.home1,
.memberships1,
.merchandise,
.smash-point {
  position: absolute;
  height: 5.86%;
  width: 17.94%;
  top: 50.71%;
  left: 41.03%;
  font-weight: 600;
  display: inline-block;
}
.designed-by-pranav,
.events,
.faqs,
.memberships1,
.merchandise,
.smash-point {
  top: 56.57%;
}
.designed-by-pranav,
.events,
.faqs,
.merchandise,
.smash-point {
  top: 62.43%;
}
.designed-by-pranav,
.faqs,
.merchandise,
.smash-point {
  top: 68.29%;
}
.designed-by-pranav,
.merchandise,
.smash-point {
  top: 74.14%;
}
.designed-by-pranav,
.smash-point {
  width: 17.82%;
  top: 87.71%;
  left: 53.36%;
  color: var(--color-gray-200);
}
.smash-point {
  width: 14%;
  left: 28.76%;
}
.connect-with-us,
.located-at-123 {
  position: absolute;
  height: 4.29%;
  width: 32.93%;
  top: 17.86%;
  left: 12.04%;
  font-size: var(--font-size-11xl);
  display: inline-block;
  color: var(--color-greenyellow);
  text-align: left;
}
.connect-with-us {
  height: 7.29%;
  width: 18.52%;
  top: 41.14%;
  font-size: var(--font-size-17xl);
  font-weight: 800;
}
.footer-inner,
.footer-item {
  position: absolute;
  height: 11.43%;
  width: 37.62%;
  top: 14.29%;
  right: 12.67%;
  bottom: 74.29%;
  left: 49.71%;
  border-radius: var(--br-31xl);
  background-color: var(--color-white);
}
.footer-inner {
  width: 17.36%;
  right: 11.34%;
  left: 71.3%;
  background-color: var(--color-red-200);
}
.email-address,
.join-the-waitlist {
  position: absolute;
  height: 3.71%;
  top: 18.14%;
  font-size: var(--font-size-xl);
  display: inline-block;
}
.email-address {
  width: 12.09%;
  left: 55.03%;
  color: var(--color-darkgray-200);
}
.join-the-waitlist {
  width: 14.7%;
  left: 72.63%;
}
.icon-instagram {
  height: 7.14%;
  width: 2.89%;
  top: 51.57%;
  right: 85.07%;
  bottom: 41.29%;
  left: 12.04%;
}
.icon-facebook-circle,
.icon-instagram,
.middle-removebg-preview-1-icon {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.middle-removebg-preview-1-icon {
  height: 7.86%;
  width: 2.68%;
  top: 50.86%;
  right: 72.38%;
  bottom: 41.29%;
  left: 24.94%;
  object-fit: cover;
}
.icon-facebook-circle {
  height: 7.57%;
  width: 3.07%;
  top: 51.29%;
  right: 78.3%;
  bottom: 41.14%;
  left: 18.63%;
  opacity: 0.8;
}
.footer {
  position: absolute;
  top: 4485px;
  left: 5px;
  width: 1728px;
  height: 700px;
  text-align: center;
  font-size: var(--font-size-5xl);
}
.home-child1 {
  position: absolute;
  top: 4346px;
  left: 689px;
  border-radius: var(--br-31xl);
  background-color: var(--color-red-100);
  width: 350px;
  height: 100px;
  cursor: pointer;
}
.learn-more {
  position: absolute;
  top: 4374px;
  left: 762px;
  font-size: var(--font-size-17xl);
  font-family: var(--font-montserrat);
}
.home-child2 {
  position: absolute;
  top: 710px;
  left: 903px;
  border-radius: var(--br-31xl);
  background-color: var(--color-red-100);
  box-shadow: 15px 15px 0 rgba(0, 0, 0, 0.25);
  width: 320px;
  height: 93px;
  cursor: pointer;
}
.learn-more1 {
  position: absolute;
  top: 735px;
  left: 956px;
  font-size: var(--font-size-17xl);
  font-family: var(--font-montserrat);
}
.home-child3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: #4f4f4f;
  position: absolute;
  top: 3520px;
  left: 599px;
  border-radius: var(--br-31xl);
  width: 300px;
  height: 75px;
}
.monthly {
  position: absolute;
  height: 0.73%;
  width: 11.57%;
  top: 68.22%;
  left: 36.63%;
  font-size: var(--font-size-11xl);
  font-weight: 800;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-child4,
.home-child5 {
  position: absolute;
  top: 3540px;
  left: 1019px;
  border-radius: var(--br-3xs);
  background-color: var(--color-greenyellow);
  width: 100px;
  height: 35px;
}
.home-child5 {
  cursor: pointer;
  border: 0;
  padding: 0;
  top: 3520px;
  left: 829px;
  border-radius: var(--br-31xl);
  width: 300px;
  height: 75px;
}
.annually,
.save-20 {
  position: absolute;
  height: 0.73%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.annually {
  width: 11.57%;
  top: 68.22%;
  left: 48.84%;
  font-size: var(--font-size-11xl);
  font-weight: 800;
}
.save-20 {
  width: 5.67%;
  top: 68.25%;
  left: 58.56%;
  font-size: var(--font-size-mini);
}
.main-membership-tier-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-31xl);
  background: linear-gradient(180deg, #eb3349, #f45c43);
  width: 450px;
  height: 650px;
}
.basic {
  position: absolute;
  top: 39px;
  left: 138px;
  font-size: var(--font-size-17xl);
  font-weight: 800;
  font-family: var(--font-manrope);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  width: 177.91px;
  height: 42.81px;
}
.main-membership-tier {
  position: absolute;
  top: 3646px;
  left: 639px;
  width: 450px;
  height: 650px;
}
.b,
.month,
.pro {
  position: absolute;
  display: inline-block;
  color: var(--color-white);
  text-align: left;
}
.pro {
  top: 38.07px;
  left: 192px;
  font-size: var(--font-size-17xl);
  font-weight: 800;
  font-family: var(--font-manrope);
  width: 65.97px;
  height: 53.08px;
}
.b,
.month {
  top: 88.21px;
  left: 152px;
  font-size: var(--font-size-21xl);
  font-family: var(--font-poppins);
  width: 85.43px;
  height: 65px;
}
.month {
  top: 104px;
  left: 233px;
  font-size: var(--font-size-mini);
  width: 64.88px;
  height: 24.92px;
}
.expensive-membership-tier {
  position: absolute;
  top: 3646px;
  left: 1178px;
  width: 450px;
  height: 650px;
}
.b1,
.guest-pass,
.month1 {
  position: absolute;
  top: 3742px;
  left: 791px;
  font-size: var(--font-size-21xl);
  display: inline-block;
  font-family: var(--font-poppins);
  width: 85.43px;
  height: 70px;
}
.guest-pass,
.month1 {
  top: 3760px;
  left: 873px;
  font-size: var(--font-size-mini);
  width: 64.88px;
  height: 26.83px;
}
.guest-pass {
  top: 38.07px;
  left: 118px;
  font-size: var(--font-size-17xl);
  font-weight: 800;
  font-family: var(--font-manrope);
  color: var(--color-white);
  text-align: left;
  width: 214.12px;
  height: 53.08px;
}
.guest-membership-tier {
  position: absolute;
  top: 3646px;
  left: 100px;
  width: 450px;
  height: 650px;
}
.a-perk-to,
.a-perk-to1,
.a-perk-to2 {
  position: absolute;
  height: 0.48%;
  width: 9.84%;
  top: 74.5%;
  left: 11.28%;
  font-weight: 600;
  display: inline-block;
}
.a-perk-to1,
.a-perk-to2 {
  top: 75.37%;
}
.a-perk-to2 {
  top: 76.24%;
}
.for-most-people,
.the-ultimate-package {
  font-size: var(--font-size-lg);
  text-align: center;
}
.the-ultimate-package {
  position: absolute;
  height: 0.48%;
  width: 20.95%;
  top: 73.5%;
  left: 71.12%;
  display: inline-block;
}
.for-most-people {
  width: 22.69%;
  top: 73.52%;
  left: 38.77%;
}
.everything-in-regular,
.for-most-people,
.for-those-who {
  position: absolute;
  height: 0.48%;
  display: inline-block;
}
.for-those-who {
  width: 22.69%;
  top: 73.5%;
  left: 7.47%;
  font-size: var(--font-size-lg);
  text-align: center;
}
.everything-in-regular {
  width: 16.32%;
  top: 74.45%;
  left: 72.34%;
  font-weight: 800;
}
.untitled-design-15-1,
.untitled-design-15-2,
.untitled-design-15-3 {
  position: absolute;
  top: 3861px;
  left: 143px;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.untitled-design-15-2,
.untitled-design-15-3 {
  top: 3906px;
}
.untitled-design-15-3 {
  top: 3951px;
}
.a-perk-to3,
.a-perk-to4,
.a-perk-to5 {
  position: absolute;
  height: 0.48%;
  width: 9.84%;
  top: 75.51%;
  left: 73.67%;
  font-weight: 600;
  display: inline-block;
}
.a-perk-to4,
.a-perk-to5 {
  top: 76.37%;
}
.a-perk-to5 {
  top: 77.24%;
}
.untitled-design-15-13,
.untitled-design-15-14,
.untitled-design-15-15 {
  position: absolute;
  top: 3913px;
  left: 1221px;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.untitled-design-15-14,
.untitled-design-15-15 {
  top: 3958px;
}
.untitled-design-15-15 {
  top: 4003px;
}
.a-perk-to6,
.a-perk-to7,
.a-perk-to8 {
  position: absolute;
  height: 0.48%;
  width: 9.84%;
  top: 74.56%;
  left: 42.48%;
  font-weight: 600;
  display: inline-block;
}
.a-perk-to7,
.a-perk-to8 {
  top: 75.43%;
}
.a-perk-to8 {
  top: 76.3%;
}
.untitled-design-15-4,
.untitled-design-15-5,
.untitled-design-15-6 {
  position: absolute;
  top: 3864px;
  left: 682px;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.untitled-design-15-5,
.untitled-design-15-6 {
  top: 3909px;
}
.untitled-design-15-6 {
  top: 3954px;
}
.a-perk-to10,
.a-perk-to11,
.a-perk-to9 {
  position: absolute;
  height: 0.48%;
  width: 9.84%;
  top: 77.16%;
  left: 42.48%;
  font-weight: 600;
  display: inline-block;
}
.a-perk-to10,
.a-perk-to11 {
  top: 78.03%;
}
.a-perk-to11 {
  top: 78.9%;
}
.untitled-design-15-10,
.untitled-design-15-11,
.untitled-design-15-12 {
  position: absolute;
  top: 3999px;
  left: 682px;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.untitled-design-15-11,
.untitled-design-15-12 {
  top: 4044px;
}
.untitled-design-15-12 {
  top: 4089px;
}
.home-child6 {
  position: absolute;
  top: 4170px;
  left: 175px;
  border-radius: var(--br-xl);
  background-color: var(--color-red-100);
  width: 300px;
  height: 75px;
}
.choose-guest {
  position: absolute;
  top: 4189px;
  left: 216px;
  font-size: var(--font-size-11xl);
  font-family: var(--font-montserrat);
}
.home-child7 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-red-100);
  position: absolute;
  top: 4170px;
  left: 718px;
  border-radius: var(--br-xl);
  width: 300px;
  height: 75px;
}
.choose-basic {
  position: absolute;
  top: 4189px;
  left: 761px;
  font-size: var(--font-size-11xl);
  font-family: var(--font-montserrat);
}
.home-child8 {
  position: absolute;
  top: 4169px;
  left: 1255px;
  border-radius: var(--br-xl);
  background-color: var(--color-red-100);
  width: 300px;
  height: 75px;
}
.choose-pro {
  position: absolute;
  top: 4188px;
  left: 1315px;
  font-size: var(--font-size-11xl);
  font-family: var(--font-montserrat);
}
.b2,
.per-hour {
  position: absolute;
  font-family: var(--font-poppins);
}
.b2 {
  top: 3741px;
  left: 243px;
  font-size: var(--font-size-21xl);
  display: inline-block;
  width: 85.43px;
  height: 70px;
}
.per-hour {
  top: 3759px;
  left: 314px;
  font-size: var(--font-size-mini);
  display: flex;
  align-items: center;
  width: 92px;
  height: 27px;
}
.rectangle-icon {
  position: absolute;
  top: 48px;
  left: 1374px;
  border-radius: var(--br-31xl);
  width: 294px;
  height: 101px;
  cursor: pointer;
}
.memberships2 {
  position: absolute;
  top: 76px;
  left: 1425px;
  font-size: var(--font-size-6xl);
  font-weight: 600;
  font-family: var(--font-montserrat);
  color: inherit;
  text-decoration: none;
}
.smash-point-logo-cropped-remov-icon {
  position: absolute;
  top: 0;
  left: 74px;
  width: 158px;
  height: 158px;
  object-fit: cover;
  cursor: pointer;
}
.events1,
.faqs1,
.home2,
.merch {
  position: absolute;
  top: 76px;
  left: 720px;
  font-size: var(--font-size-6xl);
  font-weight: 600;
  font-family: var(--font-montserrat);
  cursor: pointer;
}
.events1,
.faqs1,
.merch {
  left: 879px;
}
.faqs1,
.merch {
  left: 1046px;
}
.merch {
  left: 1194px;
}
.home {
  position: relative;
  background-color: var(--color-gray-300);
  width: 100%;
  height: 5185px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-manrope);
}
