.home7,
.merch-child {
  position: absolute;
  cursor: pointer;
}
.merch-child {
  top: 48px;
  left: 1374px;
  border-radius: var(--br-31xl);
  width: 294px;
  height: 101px;
}
.home7 {
  top: 76px;
  left: 720px;
  font-size: var(--font-size-6xl);
  font-weight: 600;
  text-align: left;
}
.events6 {
  left: 879px;
  cursor: pointer;
}
.events6,
.faqs6,
.memberships9,
.merch4 {
  position: absolute;
  top: 76px;
  font-size: var(--font-size-6xl);
  font-weight: 600;
  text-align: left;
}
.memberships9 {
  left: 1425px;
  color: inherit;
  text-decoration: none;
}
.faqs6,
.merch4 {
  left: 1046px;
  cursor: pointer;
}
.merch4 {
  left: 1194px;
}
.smash-point-logo-cropped-remov-icon3 {
  position: absolute;
  top: 0;
  left: 74px;
  width: 158px;
  height: 158px;
  object-fit: cover;
  cursor: pointer;
}
.footer-child7 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gray-400);
}
.contact-us3,
.explore3 {
  position: absolute;
  font-size: var(--font-size-17xl);
  font-weight: 800;
  color: var(--color-greenyellow);
}
.contact-us3 {
  top: 40.86%;
  left: 69.44%;
  text-align: left;
}
.explore3 {
  top: 41.29%;
  left: 46.12%;
}
.email-hellotextcom3,
.phone-123-456-78903 {
  position: absolute;
  height: 5.86%;
  width: 17.94%;
  top: 50.29%;
  left: 69.44%;
  font-weight: 600;
  text-align: left;
  display: inline-block;
}
.phone-123-456-78903 {
  top: 56.14%;
}
.designed-by-pranav3,
.events7,
.faqs7,
.home8,
.memberships10,
.merchandise3,
.smash-point3 {
  position: absolute;
  height: 5.86%;
  width: 17.94%;
  top: 50.71%;
  left: 41.03%;
  font-weight: 600;
  display: inline-block;
}
.designed-by-pranav3,
.events7,
.faqs7,
.memberships10,
.merchandise3,
.smash-point3 {
  top: 56.57%;
}
.designed-by-pranav3,
.events7,
.faqs7,
.merchandise3,
.smash-point3 {
  top: 62.43%;
}
.designed-by-pranav3,
.faqs7,
.merchandise3,
.smash-point3 {
  top: 68.29%;
}
.designed-by-pranav3,
.merchandise3,
.smash-point3 {
  top: 74.14%;
}
.designed-by-pranav3,
.smash-point3 {
  width: 17.82%;
  top: 87.71%;
  left: 53.36%;
  color: var(--color-gray-200);
}
.smash-point3 {
  width: 14%;
  left: 28.76%;
}
.connect-with-us3,
.located-at-1233 {
  position: absolute;
  height: 4.29%;
  width: 32.93%;
  top: 17.86%;
  left: 12.04%;
  font-size: var(--font-size-11xl);
  display: inline-block;
  color: var(--color-greenyellow);
  text-align: left;
}
.connect-with-us3 {
  height: 7.29%;
  width: 18.52%;
  top: 41.14%;
  font-size: var(--font-size-17xl);
  font-weight: 800;
}
.footer-child8,
.footer-child9 {
  position: absolute;
  height: 11.43%;
  width: 37.62%;
  top: 14.29%;
  right: 12.67%;
  bottom: 74.29%;
  left: 49.71%;
  border-radius: var(--br-31xl);
  background-color: var(--color-white);
}
.footer-child9 {
  width: 17.36%;
  right: 11.34%;
  left: 71.3%;
  background-color: var(--color-red-200);
}
.email-address3,
.join-the-waitlist3 {
  position: absolute;
  height: 3.71%;
  top: 18.14%;
  font-size: var(--font-size-xl);
  display: inline-block;
}
.email-address3 {
  width: 12.09%;
  left: 55.03%;
  color: var(--color-darkgray-200);
}
.join-the-waitlist3 {
  width: 14.7%;
  left: 72.63%;
}
.icon-instagram3 {
  height: 7.14%;
  width: 2.89%;
  top: 51.57%;
  right: 85.07%;
  bottom: 41.29%;
  left: 12.04%;
}
.icon-facebook-circle3,
.icon-instagram3,
.middle-removebg-preview-1-icon3 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.middle-removebg-preview-1-icon3 {
  height: 7.86%;
  width: 2.68%;
  top: 50.86%;
  right: 72.38%;
  bottom: 41.29%;
  left: 24.94%;
  object-fit: cover;
}
.icon-facebook-circle3 {
  height: 7.57%;
  width: 3.07%;
  top: 51.29%;
  right: 78.3%;
  bottom: 41.14%;
  left: 18.63%;
  opacity: 0.8;
}
.footer3 {
  position: absolute;
  top: 2950px;
  left: 0;
  width: 1728px;
  height: 700px;
  font-size: var(--font-size-5xl);
  font-family: var(--font-manrope);
}
.merch-item {
  position: absolute;
  top: 220px;
  left: 149px;
  border-radius: var(--br-31xl);
  background: linear-gradient(180deg, #b0b0b0, #9d9d9d);
  width: 1429px;
  height: 650px;
}
.image-removebg-preview-1-icon1 {
  position: absolute;
  top: 1121px;
  left: 1264px;
  width: 400px;
  height: 400px;
  object-fit: cover;
  cursor: pointer;
}
.image-removebg-preview-icon1,
.tisort-acro-21981-1200-1200-re-icon2,
.tisort-neuvex-21017-1200-1200-icon1 {
  position: absolute;
  top: 1121px;
  left: 64px;
  width: 400px;
  height: 400px;
  object-fit: cover;
  cursor: pointer;
}
.image-removebg-preview-icon1,
.tisort-acro-21981-1200-1200-re-icon2 {
  left: 464px;
}
.image-removebg-preview-icon1 {
  left: 864px;
}
.image-removebg-preview-2-icon,
.image-removebg-preview-3-icon,
.image-removebg-preview-4-icon {
  position: absolute;
  top: 1687px;
  left: 64px;
  width: 400px;
  height: 400px;
  object-fit: cover;
}
.image-removebg-preview-3-icon,
.image-removebg-preview-4-icon {
  left: 464px;
}
.image-removebg-preview-4-icon {
  left: 864px;
}
.image-removebg-preview-5-icon,
.image-removebg-preview-6-icon,
.image-removebg-preview-7-icon {
  position: absolute;
  top: 2253px;
  left: 464px;
  width: 400px;
  height: 400px;
  object-fit: cover;
}
.image-removebg-preview-6-icon,
.image-removebg-preview-7-icon {
  left: 864px;
}
.image-removebg-preview-7-icon {
  left: 1264px;
}
.image-removebg-preview-8-icon,
.image-removebg-preview-9-icon,
.untitled-design-12-1 {
  position: absolute;
  top: 2253px;
  left: 64px;
  width: 400px;
  height: 400px;
  object-fit: cover;
}
.image-removebg-preview-9-icon,
.untitled-design-12-1 {
  top: 1687px;
  left: 1264px;
}
.untitled-design-12-1 {
  top: 220px;
  left: 149px;
  width: 1429px;
  height: 650px;
}
.best-sellers {
  position: absolute;
  top: 253px;
  left: 622px;
  font-size: var(--font-size-56xl);
  font-weight: 600;
  background: linear-gradient(180deg, #f45c43, #ca4a3f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  width: 483px;
  height: 67px;
}
.black-shirt1,
.blue-shirt3,
.blue-shirt4,
.div5,
.div6,
.div7,
.div8,
.white-shirt1 {
  position: absolute;
  top: 1545px;
  left: 504px;
  font-weight: 600;
  display: inline-block;
  width: 155px;
}
.black-shirt1,
.blue-shirt4,
.div5,
.div6,
.div7,
.div8,
.white-shirt1 {
  left: 683px;
}
.black-shirt1,
.blue-shirt4,
.div6,
.div7,
.div8,
.white-shirt1 {
  left: 1297px;
}
.black-shirt1,
.div6,
.div7,
.div8,
.white-shirt1 {
  left: 1476px;
}
.black-shirt1,
.div7,
.div8,
.white-shirt1 {
  left: 897px;
}
.black-shirt1,
.div7,
.div8 {
  left: 1076px;
}
.black-shirt1,
.div8 {
  left: 97px;
}
.div8 {
  left: 276px;
}
.black-shirt2,
.black-shirt3,
.div10,
.div11,
.div12,
.div9,
.orange-shirt,
.orange-shirt1 {
  position: absolute;
  top: 2111px;
  left: 516px;
  font-weight: 600;
  display: inline-block;
  width: 155px;
}
.black-shirt2,
.black-shirt3,
.div10,
.div11,
.div12,
.div9,
.orange-shirt1 {
  left: 695px;
}
.black-shirt2,
.black-shirt3,
.div10,
.div11,
.div12,
.orange-shirt1 {
  left: 1297px;
}
.black-shirt2,
.black-shirt3,
.div10,
.div11,
.div12 {
  left: 1476px;
}
.black-shirt2,
.black-shirt3,
.div11,
.div12 {
  left: 897px;
}
.black-shirt3,
.div11,
.div12 {
  left: 1076px;
}
.black-shirt3,
.div12 {
  left: 97px;
}
.div12 {
  left: 276px;
}
.black-shirt4,
.blue-shirt5,
.div13,
.div14,
.div15,
.div16,
.green-shirt,
.yellow-shirt {
  position: absolute;
  top: 2677px;
  left: 504px;
  font-weight: 600;
  display: inline-block;
  width: 155px;
}
.black-shirt4,
.blue-shirt5,
.div13,
.div14,
.div15,
.div16,
.yellow-shirt {
  left: 683px;
}
.black-shirt4,
.blue-shirt5,
.div14,
.div15,
.div16,
.yellow-shirt {
  left: 1297px;
}
.blue-shirt5,
.div14,
.div15,
.div16,
.yellow-shirt {
  left: 1476px;
}
.blue-shirt5,
.div15,
.div16,
.yellow-shirt {
  left: 897px;
}
.div15,
.div16,
.yellow-shirt {
  left: 1076px;
}
.div16,
.yellow-shirt {
  left: 97px;
}
.div16 {
  left: 276px;
}
.merch3 {
  position: relative;
  background-color: var(--color-gray-300);
  width: 100%;
  height: 3650px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-3xl);
  color: var(--color-white);
  font-family: var(--font-montserrat);
}
